@media screen and (max-width: 1024px) {
    .content1-left {
        padding: 0 4em 0 5em !important;
    }
    .content1-right {
        padding: 2em 5em 2em 4em !important;
    }
    .fix-right {
        left: 63% !important;
    }
    .content3 .content3-body {
        padding: 0 5em !important;
    }
}

@media screen and (max-width: 812px) {
    .content1-right {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .banner img {
        width: 100% !important;
    }
    .content1-left {
        width: 100% !important;
        padding: 0 4em !important;
    }
    .content1-right {
        display: none !important;
    }
}

@media screen and (max-width: 736px) {
    nav a {
        padding: 2em 0.8em !important;
        font-size: 0.8em !important;
    }
    .banner img {
        width: 60% !important;
        padding: 8.5em 0 !important;
    }
    .content1-right {
        display: none !important;
    }
}

@media screen and (max-width: 667px) {
    .content1-left {
        width: 100% !important;
        padding: 0 3em !important;
    }
}

@media screen and (max-width: 414px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        position: fixed !important;
        height: 100vh !important;
        background-image: url('../img/header-bg.png') !important;
        background-size: cover !important;
        z-index: 2 !important;
        a {
            display: inline-block !important;
            width: 100% !important;
            text-align: center !important;
            padding: 2em 0em !important;
        }
    }
    .icon-nav-mobile {
        display: block !important;
    }
    .icon-close {
        display: inline-block !important;
        padding: 1em !important;
    }
    .fixRight{
        display: none !important;
    }
    .banner img {
        width: 100% !important;
    }
    .content1-left {
        width: 70% !important;
    }
    .content1-right {
        display: none !important;
    }
    .content1,
    .content3,
    .content-foot {
        display: block !important;
    }
    .content3 {
        .content3-body {
            padding: 0 3em !important;
            img {
                width: 100% !important;
            }
        }
    }
}